---
import Logo from "./Logo.astro";
---

<header class="flex items-center">
  <Logo/>
  <div class="flex items-center ml-2">
    <span
      class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-green-400 to-yellow-600"
      >ChatGPT mini</span
    >
  </div>
</header>
